<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Floyd Warshall Algorithm with Recursion</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<style>
    body {
        background-color:  hsl(212deg 15% 49%);
    }
    p {
        display: inline-block;
    }
#outer {
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%, 0);
    margin-top: -6%;
}
.gr {
    position : absolute ;
    bottom: 30%;
}
</style>
<body>
    <h2 style="color: white; font-family: 'Helvetica'; font-weight: lighter;" class="text-center mb-3">Floyd Warshall Algorithm with Recursion Calculator</h2>
    <div id="outer"> 
        <p style="margin-top: 0.5% ; color: yellow; margin-left: 25%;">Leave a cell blank for NO_PATH or type NP or NO_PATH</p> <br>
        <p style="color: white; font-family: 'Helvetica'; font-weight: lighter;" >Enter Graph Line 1 Cells</p>
        <input data-default-value="0" type="text" name="textbox11" id="" size="12" value="0">
        <input data-default-value="7" type="text" name="textbox12" id="" size="12" value="7">
        <input data-default-value="NO_PATH" type="text" name="textbox13" id="" size="12" value="NO_PATH">
        <input data-default-value="8" type="text" name="textbox14" id="" size="12" value="8">
        <br>
        <p style="color: white; font-family: 'Helvetica'; font-weight: lighter;">Enter Graph Line 2 Cells</p>
        <input data-default-value="NO_PATH" type="text" name="textbox21" id="" size="12" value="NO_PATH">
        <input data-default-value="0" type="text" name="textbox22" id="" size="12" value="0">
        <input data-default-value="5" type="text" name="textbox23" id="" size="12" value="5">
        <input data-default-value="NO_PATH" type="text" name="textbox24" id="" size="12" value="NO_PATH">
        <br>
        <p style="color: white; font-family: 'Helvetica'; font-weight: lighter;">Enter Graph Line 3 Cells</p>
        <input data-default-value="NO_PATH" type="text" name="textbox31" id="" size="12" value="NO_PATH">
        <input data-default-value="NO_PATH" type="text" name="textbox32" id="" size="12" value="NO_PATH">
        <input data-default-value="0" type="text" name="textbox33" id="" size="12" value="0">
        <input data-default-value="2" type="text" name="textbox34" id="" size="12" value="2">
        <br>
        <p style="color: white; font-family: 'Helvetica'; font-weight: lighter;">Enter Graph Line 4 Cells</p>
        <input data-default-value="NO_PATH" type="text" name="textbox41" id="" size="12" value="NO_PATH">
        <input data-default-value="NO_PATH" type="text" name="textbox42" id="" size="12" value="NO_PATH">
        <input data-default-value="NO_PATH" type="text" name="textbox43" id="" size="12" value="NO_PATH">
        <input data-default-value="0" type="text" name="textbox44" id="" size="12" value="0">
        <br>
        <p style="color: white">Recursion Quantity</p>
        <input data-default-value="2" style="margin-left: 5% ; width: 10%; margin-top: 3%; margin-bottom: 5%;" type="number" name="spin1" id="" value="2">
        <br>
        <p class="gr" style="color: white ; margin-left: -9%; ">Graph Results</p>
        <p class="gr" style="color: white ; margin-left: 6%;">(NP = NO PATH)</p>
        <textarea style="margin-left: 23% ;" name="multiline1" id="" cols="60" rows="10"></textarea>

        <button onclick="print_graph()" style="background-color: hsl(218deg 39% 26%); color: white; padding: 1% 5%; margin-left: 30% ; margin-top: 5%;"> Print Graph </button>
        <button onclick="clear_data()" style="background-color: hsl(218deg 39% 26%); color: white; padding: 1% 5%; margin-left: 10% ; margin-top: 5%;"> Reset </button>

</div>
</body>

<script>

    // we will call this much to clear the input and restore the default values
    function clear_data() {
        // we need to get the list of inputs so we can loop and assign the default value 
        inputs = document.getElementsByTagName('input')
        for (var i = 0; i < inputs.length; i++) {
            // assign the default value 
            inputs[i]['value'] = inputs[i].dataset.defaultValue
        }
        // get the textarea and clear the data 
        txtArea = document.getElementsByTagName('textarea')[0]
        txtArea['value'] = ''
    }

    // we will use this function to call the api and get the results 
    async function print_graph() {
        inputs = document.getElementsByTagName('input')
        let data = []
        // obj is an object to hold the values
        obj = {}
        // we will loop and get the values from the inputs
        for (var i = 0; i < inputs.length; i++) {
            obj[inputs[i]['name']] = inputs[i]['value']
        }
        txtArea = document.getElementsByTagName('textarea')[0]
        obj['multiline1'] = txtArea['value']
        data.push(obj)
        let res = await fetch('/print_graph', {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(data)
        });
        const content = await res.json();
        // we attach the result to textarea .
        txtArea.value = content['res']
    }

</script>

</html>